/* .profile__pen {
    object-fit: cover;
    color: white;
    max-width: 122px;
    max-height: 122px;
    opacity: 0;
    z-index: 2;
    margin: 0;
}

.profile__pen:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease;
    background-size: 26px 26px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 670px) {
    .profile__pen {
        top: 0;
        left: 81px;
    }
} */