.element__button-like {
    background-image: url(../../../images/heart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    height: 19px;
    align-self: center;
    border: none;
    cursor: pointer;
    float: right;
}

.element__button-like:hover {
    opacity: 0.5;
    transition: 0.3s;
}